%tr
  %td
    = I18n.t((article.active? == true).to_s)
  %td
    = I18n.t((article.featured? == true).to_s)
  %td
    = article.name
  %td
    = article.created_at.try(:strftime, '%d/%m/%Y')
  %td
    = link_to edit_admin_article_path(article), class: 'btn btn-primary btn-xs' do
      %i.glyphicon.glyphicon-edit
      = t('labels.edit')
  %td
    = link_to admin_article_path(article), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: t('labels.confirm_delete') } do
      %i.glyphicon.glyphicon-trash
      = t('labels.delete')
