- unless @videos.empty?

  #featured
    %h1
      = @videos.first.name
    %span
      = l @videos.first.created_at.to_date, format: :long
    %br
    = link_to image_tag(@videos.first.youtube_thumb(:normal)), video_url(@videos.first), class: 'fancybox'

  #list
    - @videos.each_slice(3).each do |slice|
      - slice.each do |video|
        .picture
          = link_to image_tag(video.youtube_thumb(:normal)), video_url(video), class: 'fancybox'
          .info
            %h2
              = video.name
            %span
              = l video.created_at.to_date, format: :long
            = link_to "Ver: #{video.assetable.name}", send("#{video.assetable_type.downcase}_url", video.assetable), class: 'text-link'
      .clear