#featured
  %h1
    Los cambios deben seguir
  %span
    13 de Nomviembre del 2013
  %br
  = image_tag 'gray-example.jpg'

#list
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .clear
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .clear
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .picture
    = link_to image_tag('gray-small-example.jpg'), nil
    .info
      %h2
        Franja electoral de El Salvador Adelanto
      %span
        11 de noviembre del 2013
      = link_to 'Ver post "Nombre el post o noticia"', nil, class: 'text-link'
  .clear