= draw_errors(sponsor)
= nested_form_for [:admin, sponsor], html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    = f.label :active, class: 'col-sm-2 control-label'
    .col-sm-3
      .checkbox
        = f.check_box :active
  .form-group
    = f.label :kind, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :kind, options_for_select( Sponsor::KIND.invert, sponsor.kind ), {  }, class: 'form-control'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :alias, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :alias, class: 'form-control'
  .form-group
    = f.label :amount, class: 'col-sm-2 control-label'
    .col-sm-3
      .input-group
        %span.input-group-addon
          $
        = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control', rows: '3'
  .form-group
    .col-sm-offset-2.col-sm-10.text-right
      = link_to t('labels.back'), admin_sponsors_path, class: 'btn btn-default'
      = f.submit t('labels.save'), class: 'btn btn-primary'
