.page-header
  %h1
    = raw(t('.title'))
%dl.dl-horizontal
  %dt
    = t('activerecord.attributes.contact.created_at')
  %dd
    = contact.created_at.try(:strftime, '%d/%m/%Y')
  %dt
    = t('activerecord.attributes.contact.name')
  %dd
    = contact.name
  %dt
    = t('activerecord.attributes.contact.email')
  %dd
    = contact.email
  %dt
    = t('activerecord.attributes.contact.phone')
  %dd
    = contact.phone
  %dt
    = t('activerecord.attributes.contact.message')
  %dd
    = contact.message
