- unless @pictures.empty?
  -#
    #featured
      %h1
        = @pictures.first.name
      %span
        = l @pictures.first.created_at.to_date, format: :long
      %br
      = image_tag @pictures.first.attachment.url(:normal)

  #list
    - @pictures.each_slice(3).each do |slice|
      - slice.each do |picture|
        .picture
          = link_to image_tag(picture.attachment.url(:small)), picture.attachment.url(:normal), class: 'fancybox', rel: 'gallery', title: picture.name
          .info
            %h2
              = picture.name
            %span
              = l picture.created_at.to_date, format: :long
            = link_to "Ver: #{picture.assetable.name}", send("#{picture.assetable_type.downcase}_url", picture.assetable), class: 'text-link'
      .clear