#liabilities
  %h2
    Los compromisos
  = link_to image_tag('icon-economy-small.jpg'), nil
  = link_to image_tag('icon-security-small.jpg'), nil
  = link_to image_tag('icon-women-small.jpg'), nil
  = link_to image_tag('icon-agriculture-small.jpg'), nil
  = link_to image_tag('icon-development-small.jpg'), nil
  = link_to image_tag('icon-jobs-small.jpg'), nil
  = link_to image_tag('icon-education-small.jpg'), nil

- unless @last_posts.empty?
  #last-posts
    %h2
      Últimos posts
    - @last_posts.each do |post|
      %div
        %span.date
          = l post.created_at.to_date, format: :long
        %h3
          = link_to post.name, post_url(post)
        = link_to 'Seguir leyendo', post_url(post), class: 'read-more'

#donate
  = link_to nil, class: 'btn' do
    %b
      Apoyanos
    con una donación
  %br
  %span
    100
  personas apoyando
  %br
  = link_to 'ver quienes son', nil, class: 'text-link'
