#liabilities
  %h2
    Los compromisos

  - Config[:categories].keys.each do |category_name|          
    - category = Category.find Config[:categories][category_name][:id]
    = link_to image_tag("icon-#{category_name}-small.jpg"), category_url(category)
    - break if category_name == 'education'

- unless @last_posts.empty?
  #last-posts
    %h2
      Últimos posts
    - @last_posts.each do |post|
      %div
        %span.date
          = l post.created_at.to_date, format: :long
        %h3
          = link_to post.name, post_url(post)
        = link_to 'Seguir leyendo', post_url(post), class: 'read-more'

#donate
  = link_to nil, class: 'btn' do
    %b
      Apoyanos
    con una donación
  %br
  %span
    100
  personas apoyando
  %br
  = link_to 'ver quienes son', nil, class: 'text-link'
