#liabilities
  %h2
    Los compromisos
  = link_to image_tag('icon-economy-small.jpg'), nil
  = link_to image_tag('icon-security-small.jpg'), nil
  = link_to image_tag('icon-women-small.jpg'), nil
  = link_to image_tag('icon-agriculture-small.jpg'), nil
  = link_to image_tag('icon-development-small.jpg'), nil
  = link_to image_tag('icon-jobs-small.jpg'), nil
  = link_to image_tag('icon-education-small.jpg'), nil

#last-posts
  %h2
    Últimos posts
  %div
    %span.date
      7 de noviembre
    %h3
      = link_to '142 mil salvadoreños han sido alfabetizados', nil
    = link_to 'Seguir leyendo', nil, class: 'read-more'
  %div
    %span.date
      7 de noviembre
    %h3
      = link_to '142 mil salvadoreños han sido alfabetizados', nil
    = link_to 'Seguir leyendo', nil, class: 'read-more'
  %div
    %span.date
      7 de noviembre
    %h3
      = link_to '142 mil salvadoreños han sido alfabetizados', nil
    = link_to 'Seguir leyendo', nil, class: 'read-more'
  %div
    %span.date
      7 de noviembre
    %h3
      = link_to '142 mil salvadoreños han sido alfabetizados', nil
    = link_to 'Seguir leyendo', nil, class: 'read-more'
#donate
  = link_to nil, class: 'btn' do
    %b
      Apoyanos
    con una donación
  %br
  %span
    100
  personas apoyando
  %br
  = link_to 'ver quienes son', nil, class: 'text-link'
