#left
  - unless @featured_post.nil?
    #featured  
      %h1
        = link_to @featured_post.name, post_url(@featured_post)
      %span.date
        = l @featured_post.created_at.to_date, format: :long
      - if @featured_post.photo.present?
        = image_tag @featured_post.photo.url(:normal)
      %p
        = @featured_post.description
      = link_to 'Seguir leyendo', post_url(@featured_post), class: 'read-more'

  - unless @posts.empty?
    - @posts = @posts.to_a
    %div
      - post = @posts.shift
      .post.left.bordered
        %h3
          = link_to post.name, post_url(post)
        %span.date
          = l post.created_at.to_date, format: :long
        %p
          = post.description
        = link_to 'Seguir leyendo', post_url(post), class: 'read-more'
      - unless @posts.empty?
        - post = @posts.shift
        .post.right
          %h3
            = link_to post.name, post_url(post)
          %span.date
            = l post.created_at.to_date, format: :long
          %p
            = post.description
          = link_to 'Seguir leyendo', post_url(post), class: 'read-more'
      .clear
  - unless @posts.empty?
    .list
      - @posts.each_slice(2).each do |slice|
        - slice.each do |post|
          .post{ class: cycle('left', 'right') }
            %h3
              = link_to post.name, post_url(post)
            %span.date
              = l post.created_at.to_date, format: :long
            = link_to 'Seguir leyendo', post_url(post), class: 'read-more'
        .clear

#right  
  = render partial: 'right_bar'
