#left
  #post
    %h1
      = link_to @post.name, nil
    %span.date
      = l @post.created_at.to_date, format: :long
    
      - if @post.photo.present?
        = image_tag @post.photo.url(:normal), class: 'header'
    
    .content
      = content_format @post.content, @media
#right  
  = render partial: 'right_bar'
