!!! 5
%html
  %head
    = display_meta_tags
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      #header
        = link_to image_tag('el-salvador-adelante.jpg'), root_url, id: 'logo'
        %ul#top-menu
          - @pages.each do |page|
            %li
              = link_to page.name, page_url(page)
          %li= link_to 'Noticias', nil
          %li= link_to 'Fotos', pictures_url
          %li= link_to 'Videos', videos_url
        #social-menu
          = link_to image_tag('icon-facebook.jpg'), nil
          = link_to image_tag('icon-twitter.jpg'), nil
          = link_to image_tag('icon-gplus.jpg'), nil
        #legend
          Somos un
          %b
            movimiento ciudadano
          que cree que
          %b
            El Salvador debe seguir cambiando
        #donate
          = link_to nil, class: 'btn orange' do
            %b
              Apoyanos
            con una donación
          %div
            %span
              100
            personas apoyando
            %br
            = link_to 'ver quienes son', nil, class: 'text-link'
        .clear
      #posts
        - unless @featured_post.nil?
          #featured
            - if @featured_post.photo.present?
              = image_tag @featured_post.photo.url(:normal)
            .caption
              %h2
                = link_to @featured_post.name, post_url(@featured_post)
              %p
                = @featured_post.description
        #right-bar
          - unless @last_posts.empty?
            - counter = 0
            .title.gray
              Últimos post
            #last-posts
              - @last_posts.each do |post|
                - counter += 1
                %div
                  %h2
                    = link_to post.name, post_url(post)
                  = link_to 'Seguir leyendo', post_url(post), class: 'read-more'
                - break if counter == 3
          .title.blue
            En twitter
          #last-tweet
            = link_to '@ESAdelante', nil
            \:
            Comité con empresarios socialmente responsables, previo a la conferencia de prensa
        .clear
      #liabilities
        %h2
          Los Compromisos
        -#
          = form_tag '' do
            #home-search
              = text_field_tag 'keyword', '', placeholder: 'Búsqueda'
              = button_tag ''
          = link_to 'Ver todos los compromisos', nil, class: 'btn'
        .clear
      #liabilities-links
        - Config[:categories].keys.each do |category_name|          
          - category = Category.find Config[:categories][category_name][:id]
          = link_to category.name, category_url(category), class: category_name
          - break if category_name == 'education'
        .clear
      #main
        #news
          %h2
            Noticias
          %div
            = link_to image_tag('thumbnail-new-example.jpg'), nil, class: 'pic'
            %h3
              = link_to 'Salvador recibe proclama y la llave de Watsonville en Estados Unidos', nil
            = link_to 'Seguir leyendo', nil, class: 'read-more'
            .clear
          %div
            = link_to image_tag('thumbnail-new-example.jpg'), nil, class: 'pic'
            %h3
              = link_to 'Salvador Sánchez Cerén: Una nueva relación de independencia y soberanía empieza a hacerse realidad en Latinoamérica', nil
            = link_to 'Seguir leyendo', nil, class: 'read-more'
            .clear
          %div
            = link_to image_tag('thumbnail-new-example.jpg'), nil, class: 'pic'
            %h3
              = link_to 'Salvador recibe proclama y la llave de Watsonville en Estados Unidos', nil
            = link_to 'Seguir leyendo', nil, class: 'read-more'
            .clear
        #media
          #join-us
            Únete y apóyanos
            = link_to 'Ver cómo', nil, class: 'btn'
          #gallery
            %h2
              Galería multimedia
            = link_to image_tag('gallery-example.jpg'), nil
        .clear
      #bottom
        #social
          Búscanos en:
          = link_to image_tag('icon-facebook-medium.jpg'), nil
          = link_to image_tag('icon-twitter-medium.jpg'), nil
          = link_to image_tag('icon-linkedin-medium.jpg'), nil
          = link_to image_tag('icon-rss-medium.jpg'), nil
          = link_to image_tag('icon-gplus-medium.jpg'), nil
          = link_to image_tag('icon-youtube-medium.jpg'), nil
          .clear
        #what-do-you-want
          ¿Qué país querés?
        .clear
        #events
          %h2
            Agenda de eventos
          %div
            %h3
              = link_to '28 de Noviembre', nil
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur urna elit, dignissim vel ornare vel, fringilla eget neque. Sed id pulvinar enim. Fusce id ornare elit, sit amet accumsan ipsum.
            = link_to 'Seguir leyendo', nil, class: 'read-more'
          %div
            %h3
              = link_to '28 de Noviembre', nil
            %p
              Nam in ornare justo, nec rhoncus massa. Sed at augue ac diam mollis adipiscing. Nulla facilisi. Curabitur rhoncus elit leo, sit amet tristique metus porta id. Sed eget cursus ante, ac pretium nibh.
            = link_to 'Seguir leyendo', nil, class: 'read-more'
          .clear
        #bottom-banner
          = image_tag('bottom-banner-example.jpg')
          %p
            Comparte en redes sociales la imágenes de #SVAdelante que más te representan
        .clear
      #footer
        #address
          Av. uno y calle dos, San Salvador
          %br
          Tel. +503 2223-4789
          %br
          = link_to 'Contáctenos', nil
        = image_tag 'footer-text.jpg'
        .clear
      #copyright
        Patrocinado por
        = link_to 'Clasificados El Salvador', 'http://www.burulo.com'
        Burulo.com
        
      
