!!! 5
%html
  %head
    = display_meta_tags
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      #header
        = link_to image_tag('el-salvador-adelante.jpg'), root_url, id: 'logo'
        %ul#top-menu
          - @pages.each do |page|
            %li
              = link_to page.name, page_url(page)
          %li= link_to 'Noticias', articles_path
          %li= link_to 'Fotos', pictures_url
          %li= link_to 'Videos', videos_url
        #social-menu
          = link_to image_tag('icon-facebook.jpg'), 'https://www.facebook.com/ESAdelante', target: '_blank'
          = link_to image_tag('icon-twitter.jpg'), 'https://twitter.com/ESAdelante', target: '_blank'
          = #link_to image_tag('icon-gplus.jpg'), nil
        #legend
          Somos un
          %b
            movimiento ciudadano
          que cree que
          %b
            El Salvador debe seguir cambiando
        #donate
          = link_to sponsors_url, class: 'btn orange' do
            %b
              Apoyanos
            con una donación
          %div
            %span
              100
            personas apoyando
            %br
            = link_to 'ver quienes son', sponsors_url, class: 'text-link'
        .clear
      #posts
        - unless @featured_post.nil?
          #featured
            - if @featured_post.photo.present?
              = image_tag @featured_post.photo.url(:normal)
            .caption
              %h2
                = link_to @featured_post.name, post_url(@featured_post)
              %p
                = @featured_post.description
        #right-bar
          - unless @last_posts.empty?
            - counter = 0
            .title.gray
              Últimos post
            #last-posts
              - @last_posts.each do |post|
                - counter += 1
                %div
                  %h2
                    = link_to post.name, post_url(post)
                  = link_to 'Seguir leyendo', post_url(post), class: 'read-more'
                - break if counter == 3
          .title.blue
            En twitter
          - unless @tweet.nil?
            #last-tweet
              = link_to '@ESAdelante', 'http://twitter.com/ESAdelante', target: '_blank'
              \:
              = raw @tweet.text
        .clear
      #liabilities
        %h2
          Los Compromisos
        -#
          = form_tag '' do
            #home-search
              = text_field_tag 'keyword', '', placeholder: 'Búsqueda'
              = button_tag ''
          = link_to 'Ver todos los compromisos', nil, class: 'btn'
        .clear
      #liabilities-links
        - Config[:categories].keys.each do |category_name|          
          - category = Category.find Config[:categories][category_name][:id]
          = link_to category.name, category_url(category), class: category_name
          - break if category_name == 'education'
        .clear
      #main
        #news
          %h2
            Noticias
          - unless @last_articles.empty?
            - @last_articles.each do |article|
              %div
                - if article.photo.present?
                  = link_to image_tag(article.photo.url(:small)), article_path(article), class: 'pic'
                %h3
                  = link_to article.name, article_path(article)
                = link_to 'Seguir leyendo', article_path(article), class: 'read-more'
                .clear
        #media
          #join-us
            Sector profesional
            %br
            únete y apóyanos
            = link_to 'Subscribirse', 'http://eepurl.com/LSeuL', target: '_blank', class: 'btn'
          #gallery
            %h2
              Galería multimedia
            %iframe{ width: 446, height: 286, src: "//www.youtube.com/embed/#{@home_video.youtube_id}", frameborder: 0, allowfullscreen: true }
            =# link_to image_tag('gallery-example.jpg'), pictures_url
        .clear
      #bottom
        #social
          Búscanos en:
          = link_to image_tag('icon-facebook-medium.jpg'), 'https://www.facebook.com/ESAdelante', target: '_blank'
          = link_to image_tag('icon-twitter-medium.jpg'), 'https://twitter.com/ESAdelante', target: '_blank'
          = #link_to image_tag('icon-linkedin-medium.jpg'), nil
          = #link_to image_tag('icon-rss-medium.jpg'), nil
          = #link_to image_tag('icon-gplus-medium.jpg'), nil
          = #link_to image_tag('icon-youtube-medium.jpg'), nil
          .clear
        #what-do-you-want
          Novedades del movimiento a su E-mail
        .clear
        - unless @events.empty?
          #events
            %h2
              Agenda de eventos
          
            - @events.each do |event|
              %div
                %h3
                  =# link_to '28 de Noviembre', nil
                  =# event.name
                  = l event.start_at, format: :short
                %p
                  %b
                    = event.name
                  %br
                  %br
                  = raw event.description.gsub("\n", '<br />')
                =# link_to 'Seguir leyendo', nil, class: 'read-more'
            .clear
        #bottom-banner
          = render partial: 'layouts/mailchimp_form'
          = #image_tag('bottom-banner-example.jpg')
          -#
            %p
              Comparte en redes sociales la imágenes de #SVAdelante que más te representan
        .clear
      #footer
        #address
          Boulevard Los Heroes y 23 Calle
          %br
          Poniente No. 1245, San Salvador.
          %br 
          Tel 2556-3713
          %br
          = link_to 'movimientociudadanoesadelante@gmail.com', 'mailto:movimientociudadanoesadelante@gmail.com'
        = image_tag 'footer-text.jpg'
        .clear
      #copyright
        Patrocinado por
        = link_to 'Clasificados El Salvador', 'http://www.burulo.com'
        Burulo.com
        
      
