#left
  = render partial: 'left_bar'
#right
  - if @category.photo.present?
    = image_tag @category.photo.url(:normal), class: 'header'

  %h1
    = @category.name
  .content
    = raw @category.content

  - unless @category.liabilities.empty?
    #accordion.panel-group
      .panel.panel-default
        - @category.liabilities.each do |liability|
          .panel-heading
            %h4.panel-title
              = link_to liability.name, "#liability#{liability.id}", 'data-toggle' => 'collapse', 'data-parent' => '#accordion'
          .panel-collapse.collapse.in{ id: "liability#{liability.id}"}
            .panel-body
              = raw liability.content
  %hr

  .share
    %h3
      Si te gustó, compartelo
    = link_to image_tag('icon-facebook-large.jpg'), nil
    = link_to image_tag('icon-twitter-large.jpg'), nil
    = link_to image_tag('icon-gplus-large.jpg'), nil
