#left
  = render partial: 'left_bar'
#right
  - if @category.photo.present?
    = image_tag @category.photo.url(:normal), class: 'header'

  .share
    %h3
      Compartir
    = link_to image_tag('icon-facebook-large.jpg'), nil
    = link_to image_tag('icon-twitter-large.jpg'), nil
    = link_to image_tag('icon-gplus-large.jpg'), nil

  %h1
    = @category.name

  .clear

  .content
    = raw @category.content

  - unless @category.liabilities.empty?
    #accordion.panel-group
      .panel.panel-default
        - @category.liabilities.each do |liability|
          .panel-heading
            %h4.panel-title
              = link_to liability.name, "#liability#{liability.id}", 'data-toggle' => 'collapse', 'data-parent' => '#accordion'
          .panel-collapse.collapse{ id: "liability#{liability.id}"}
            .panel-body
              - if liability.photo.present?
                = image_tag liability.photo.url(:normal), class: 'liability-header-pic'
              = raw liability.content
