#left
  = render partial: 'left_bar'
#right
  = image_tag 'liability-header-example.jpg'

  %h1
    Economía
  .content
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a facilisis sapien, quis venenatis nunc.
      Donec lacinia adipiscing massa. Sed interdum auctor tellus eget tincidunt. In eros eros, faucibus vitae commodo eget,
      consectetur non tellus. Praesent vulputate risus eu nisl ornare facilisis. Integer ac justo et mi semper volutpat et ac justo.
      Pellentesque ac elementum tellus. Praesent suscipit commodo neque quis faucibus. Ut et magna egestas, malesuada elit a,
      tincidunt diam. Etiam id euismod felis. Integer imperdiet libero ipsum, quis gravida odio consequat sit amet.
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a facilisis sapien, quis venenatis nunc.
      Donec lacinia adipiscing massa. Sed interdum auctor tellus eget tincidunt. In eros eros, faucibus vitae commodo eget,
      consectetur non tellus. Praesent vulputate risus eu nisl ornare facilisis. Integer ac justo et mi semper volutpat et ac justo.
      Pellentesque ac elementum tellus. Praesent suscipit commodo neque quis faucibus. Ut et magna egestas, malesuada elit a,
      tincidunt diam. Etiam id euismod felis. Integer imperdiet libero ipsum, quis gravida odio consequat sit amet.

  %hr

  .share
    %h3
      Si te gustó, compartelo
    = link_to image_tag('icon-facebook-large.jpg'), nil
    = link_to image_tag('icon-twitter-large.jpg'), nil
    = link_to image_tag('icon-gplus-large.jpg'), nil
