.list-group
  = link_to t('activerecord.controllers.dashboard'), admin_root_path, class: "list-group-item #{controller_name == 'dashboard' ? 'active' : ''}"
  = link_to t('activerecord.controllers.categories'), admin_categories_path, class: "list-group-item #{controller_name == 'categories' ? 'active' : ''}"
  = link_to t('activerecord.controllers.liabilities'), admin_liabilities_path, class: "list-group-item #{controller_name == 'liabilities' ? 'active' : ''}"
  = link_to t('activerecord.controllers.events'), admin_events_path, class: "list-group-item #{controller_name == 'events' ? 'active' : ''}"
  = link_to t('activerecord.controllers.articles'), admin_articles_path, class: "list-group-item #{controller_name == 'articles' ? 'active' : ''}"
  = link_to t('activerecord.controllers.pages'), admin_pages_path, class: "list-group-item #{controller_name == 'pages' ? 'active' : ''}"
  = link_to t('activerecord.controllers.posts'), admin_posts_path, class: "list-group-item #{controller_name == 'posts' ? 'active' : ''}"
