!!! 5
%html
  %head
    = display_meta_tags
    %meta{ charset: 'utf-8' }
    = include_default_stylesheets
    = include_default_scripts
    = csrf_meta_tags
  %body
    #wrapper
      #header
        = link_to image_tag('el-salvador-adelante-medium.jpg'), root_url, id: 'logo'
        %ul#top-menu
          - @pages.each do |page|
            %li
              = link_to page.name, page_url(page)
          %li= link_to 'Noticias', articles_path
          %li= link_to 'Fotos', pictures_url
          %li= link_to 'Videos', videos_url
        #social-menu
          = link_to image_tag('icon-facebook.jpg'), 'https://www.facebook.com/ESAdelante', target: '_blank'
          = link_to image_tag('icon-twitter.jpg'), 'https://twitter.com/ESAdelante', target: '_blank'
          =# link_to image_tag('icon-gplus.jpg'), nil
        .clear
      #breadcrumb
        -#
          = link_to 'Inicio', nil
          >
          = link_to 'Noticias', nil
          >
          %b
            Los cambios deben seguir
      #content
        = yield
        .clear
      #footer
        #address
          Boulevard Los Heroes y 23 Calle
          %br
          Poniente No. 1245, San Salvador.
          %br 
          Tel 2556-3713
          %br
          = link_to 'movimientociudadanoesadelante@gmail.com', 'mailto:movimientociudadanoesadelante@gmail.com'
        = image_tag 'footer-text.jpg'
        .clear
      #copyright
        Patrocinado por
        = link_to 'Clasificados El Salvador', 'http://www.burulo.com'
        Burulo.com
        
      
