!!! 5
%html
  %head
    = display_meta_tags
    %meta{ charset: 'utf-8' }
    = include_default_stylesheets
    = include_default_scripts
    = csrf_meta_tags
  %body
    #wrapper
      #header
        = link_to image_tag('el-salvador-adelante-medium.jpg'), root_url, id: 'logo'
        %ul#top-menu
          %li= link_to 'Sobre el movimiento', nil
          %li= link_to 'Nuestra misión y visión', nil
          %li= link_to 'Noticias', nil
          %li= link_to 'Fotos', pictures_url
          %li= link_to 'Videos', videos_url
        #social-menu
          = link_to image_tag('icon-facebook.jpg'), nil
          = link_to image_tag('icon-twitter.jpg'), nil
          = link_to image_tag('icon-gplus.jpg'), nil
        .clear
      #breadcrumb
        = link_to 'Inicio', nil
        >
        = link_to 'Noticias', nil
        >
        %b
          Los cambios deben seguir
      #content
        = yield
        .clear
      #footer
        #address
          Av. uno y calle dos, San Salvador
          %br
          Tel. +503 2223-4789
          %br
          = link_to 'Contáctenos', nil
        = image_tag 'footer-text.jpg'
        .clear
      #copyright
        Patrocinado por
        = link_to 'Clasificados El Salvador', 'http://www.burulo.com'
        Burulo.com
        
      
